# Folders
.git
.yarn/cache
.storybook
build
cache
locales/*.json
node_modules
omelette

# Files
.env
*.log
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.gitmodules
.prettierignore
bootstrap
cypress*.json
docker-compose.yml
Jenkinsfile
start_.sh
data
*.tgz

backups
backend
cache
converter
eea.docker.plone-climateadapt
new
src/addons/*
Data.fs
docker-compose.override-example.yml
docker-compose.override.yml
docker-compose*
